@model Cv.Models.Entity.TblAbout
@{
    ViewBag.Title = "UpdateAbout";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section class="resume-section" id="contact">
    <div class="resume-section-content">
        <h3 class="mb-5">Hakkımda Alanı Güncelle</h3>
        <form method="post" class="form-group">
            @Html.Label("İsim")
            @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })

            @Html.Label("Soyisim")
            @Html.TextBoxFor(x => x.Surname, new { @class = "form-control" })

            @Html.Label("Adres")
            @Html.TextBoxFor(x => x.Adress, new { @class = "form-control" })

            @Html.Label("Telefon")
            @Html.TextBoxFor(x => x.Phone, new { @class = "form-control" })

            @Html.Label("Mail")
            @Html.TextBoxFor(x => x.Mail, new { @class = "form-control" })

            @Html.Label("Açıklama")
            @Html.TextBoxFor(x => x.Description, new { @class = "form-control", @rows = 10 })

            @Html.Label("Görsel")
            @Html.TextBoxFor(x => x.Photo, new { @class = "form-control" })
            <button class="btn btn-outline-info mt-3">Güncelle</button>
        </form>
    </div>
</section>
